/.vs
/Library
/Temp
/NodeGraphRESCaches
/Unity5.CSharp.Editor.csproj.user
/Unity5.CSharp.Plugins.csproj.user
/Unity5.Editor.Plugins.csproj
/Unity5.Editor.csproj
/Unity5.Plugins.csproj
/Unity5.Plugins.csproj.user
/Unity5.csproj
/Unity5.sln.DotSettings.user
/Unity5.userprefs
